<section>
    <h3>About Myself</h3>
    <div class="face-lockup">
        <div class="face-img"></div>

        <div class="icon-chrome">{% include icons/chrome.html %}</div>
        <div class="icon-html5">{% include icons/html5.html %}</div>
        <div class="icon-php">{% include icons/php.html %}</div>
        <div class="icon-laravel">{% include icons/laravel.html %}</div>
    </div>
    <p>
        <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Ut pharetra leo ut sem rutrum commodo. Cras feugiat elit in urna malesuada elementum. Proin ut purus nibh. Vivamus accumsan lacus scelerisque, laoreet leo at, eleifend lectus. In congue nunc urna, nec cursus erat laoreet mattis. Nam odio tortor, cursus quis laoreet auctor, aliquet eget mi. Aliquam dapibus turpis a enim tristique, sed imperdiet velit porttitor. Duis elementum turpis vel nibh feugiat consequat. Nullam quis venenatis est, ac consequat lectus. Aliquam iaculis, est non imperdiet egestas, erat lectus ultrices lacus, ac varius tellus nunc vitae turpis. Duis porttitor turpis quis diam malesuada volutpat. Aliquam vitae congue metus. Curabitur ut tincidunt metus.
    </p>

    <div class="skill-lockup">

    </div>
</section>
