<footer>
  <div class="lockup">
    <div class="logo">{% include icons/logo.html %}</div>


    <div class="content-wrap">
    <nav>
      <a href="#about">Sobre mí</a>
      <a href="../assets/docs/cv.pdf">CV</a>
      <a href="#">Blog</a>
      <a href="#contact">Contacto</a>
    </nav>

    <div class="copyright">
      <p >Todo el contenido copyright 2017</p>
      <p>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    </div>
    </div>

  </div>

</footer>
